# Set root logger level to DEBUG and its only appender to stdout.
log4j.rootLogger=error, stdout
log4j.rootLogger=debug, fileLog

# stdout is set to be a ConsoleAppender.
log4j.appender.stdout=org.apache.log4j.ConsoleAppender

# stdout uses PatternLayout.
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%-4r [%t] %-5p %30.30c %x - %m%n

# fileLog is set to be a RollingFileAppender.
log4j.appender.fileLog=org.apache.log4j.RollingFileAppender
log4j.appender.fileLog.File=heroesQuest.log

log4j.appender.fileLog.MaxFileSize=100KB
# Keep one backup file
log4j.appender.fileLog.MaxBackupIndex=1

log4j.appender.fileLog.layout=org.apache.log4j.PatternLayout
log4j.appender.fileLog.layout.ConversionPattern=\n\t ***%d{dd MMM yyyy HH:mm:ss,SSS}*** \n %-6r %p [%t] %-5p %30.30c %x - %m%n


